body{
    background-image: url("images/bunker.jpg");

    background-repeat: no-repeat;
    background-position: center;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
    font-size: 75px;
    text-align: center;
}

.instructions{
    font-size: 20px;
    width: 70%;
    background-color:black;
    border-radius: 10%;
    color: green;
    border: 5px;
    border-color: olivedrab;
    border-style: solid;
    text-align: center;
}

.motherBox{
    width: 50%;
    height: 100px;
    border: 5px;
    border-color: black;
    border-style: solid;
    background-color: rgba(266, 266, 266, .3);
    border-radius: 25%;
}

.spacerBox{
    width: 20%;
}
.boxes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.keyboardBtn{
    font-size: 20px;
}
.boardBox{
    display: flex;
    width: 100%;
    justify-content: center;
}

.alienBoard{
    flex-direction: row;
    width: 40%;
}
.marineBoard{
    flex-direction: row-reverse;
    width: 40%;
}

.marineImage{
    max-width: 30%;
}
.alienImage{
    max-width: 30%;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.invisible{
    display: none;
}

.displayBoard{
    display: flex;
    width: 30%;
    height: auto;
    border: 5px;
    border-color: black;
    border-style: solid;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.emptyBox{
    font-size: 0px;
    border: 5px;
    border-color: black;
    border-style: solid;
    width: 20px;
    height: 20px;
}

.spaceBox{
    font-size: 0px;
    border: 5px;
    border-color:red;
    border-style: solid;
    width: 20px;
    height: 20px;
}

.fullBox{
    font-size: 15px;
    border: 5px;
    border-color: black;
    border-style: solid;
    width: 20px;
    height: 20px;
}

.scoreHolder{
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.scoreBox{
    background-color: black;
    border: 5px;
    color: red;
    border-style: solid;
    border-color: olivedrab;
}
.alienScore{
    flex-direction: row;
}
.marineScore{
    flex-direction: row-reverse;
}
