body{
    background-image: url("images/bunker.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
    font-size: 75px;
    text-align: center;
    background: -webkit-linear-gradient(limegreen, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 20px;
}

.instructions{
    font-size: 20px;
    width: 70%;
    background-image: url("images/crt.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10%;
    color: limegreen;
    border: 5px;
    border-color: black;
    border-style: solid;
    text-align: center;
}

.boxes{
    display: flex;
    align-items: center;
}

.motherBox{
    display: flex;
    width: 50%;
    height: 100px;
    border: 5px;
    border-color: black;
    border-style: solid;
    background-image: url("images/crt.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25%;
    align-items: center;
    justify-content: center;
}

.spacerBox{
    width: 20%;
}
.boxes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.keyboardBtn{
    font-size: 20px;
}
.boardBox{
    display: flex;
    width: 100%;
    justify-content: center;
}

.alienBoard{
    flex-direction: row;
    width: 40%;
}
.marineBoard{
    flex-direction: row-reverse;
    width: 40%;
}

.marineImage{
    max-width: 30%;
}
.alienImage{
    max-width: 30%;
}

img{
    max-width: 128px;
    height: auto;
}
.invisible{
    visibility: hidden;
}

.displayBoard{
    display: flex;
    width: 30%;
    height: auto;
    border: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
}

.emptyBox{
    font-size: 0px;
    border-bottom: 5px solid limegreen;
    width: 20px;
    height: 20px;
    margin: 5px;
}

.spaceBox{
    font-size: 0px;
    width: 20px;
    height: 20px;
}

.fullBox{
    font-size: 20px;
    color: limegreen;
    border-bottom: 5px solid limegreen;
    margin: 5px;
    width: 20px;
    height: 20px;
    text-align: center;
}

.scoreHolder{
    display: flex;
    justify-content: space-between;
    width: 70%;
    font-size: 20px;
    color: limegreen;
}

.scoreBox{
    font-size: 20px;
    color: red;
    text-align: center;
}

.aScoreBox, .mScoreBox{
    background-image: url("images/crt.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
}

.buttonholder{
    display: flex;
    justify-content: space-around;
    width: 50%;
}
